doctype
html
  head
    meta(charset='UTF-8')
    title roller coaster
    link(href="favicon.ico", rel="icon", type="image/png")
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body
    section(role="main")#main
      .svg-container
        include loading.svg

    script(src="js/tween.min.js")
    script(src="js/main.js")






